@page
@model Frontend.Pages.ListModel
@{
}
<h1> Lista de Empleados </h1>
<form method="get">
    <div class="form-group">
        <p>
            Buscar: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar" />
        </p>
</form>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Cargo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Detalles</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
    @foreach (var empleado in Model.Empleados)
    {
        <tr>
            <td>@empleado.Nombre</td>
            <td>@empleado.Edad</td>
            <td>@empleado.Cargo</td>
            <td>@empleado.Telefono</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-empleadoId="@empleado.Id">
                    <i class="fas fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditEmpleado" asp-route-empleadoId="@empleado.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i> @*Icono de fontawesome*@
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DeleteEmpleado" asp-route-empleadoId="@empleado.Id">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
</table>

<a class = "btn btn-primary table-btn" asp-page="./AddEmpleado"> Crear Empleado </a>
